@import 'bootstrap/scss/bootstrap.scss';


#dropdown-right.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.mdxContainer {
  line-height: 2em;
}

.sub {
  padding-left: 16px;
}

summary {
  cursor: pointer;

  line-height: 1.25em;
  font-size: x-large;
  font-weight: 600;
  list-style: circle;

  margin: 1em;
}

details[open]>summary {
  list-style: disc;
}


.sub>summary {
  font-size: large;
}

summary:hover {
  font-weight: 800;
}