@import "bootstrap/scss/bootstrap.scss";

body {
    background-color: rgba(240, 251, 255, 0.61);
}

#dropdown-right.dropdown-menu {
    right: 0 !important;
    left: auto !important;
}

.mdxContainer {
    line-height: 2em;
}

.sub {
    padding-left: 16px;
}

summary {
    cursor: pointer;

    line-height: 1.25em;
    font-size: x-large;
    font-weight: 600;
    list-style: circle;

    margin: 1em;
}

details[open] > summary {
    list-style: disc;
}

.sub > summary {
    font-size: large;
}

summary:hover {
    font-weight: 800;
}

.accordion-button {
    background-image: none;
}

#sales-bucket h1,
h2,
h5,
p,
a {
    margin: 0;
    padding: 0;
}

#sales-bucket h1,
h2 {
    font-weight: 300;
}

#sales-bucket p {
    font-weight: 100;
    letter-spacing: 0.16rem;
    line-height: 1.75rem;
}

#sales-bucket h5 {
    font-weight: 100;
    font-style: italic;
    text-indent: -0.16em;
}

#sales-bucket a {
    text-decoration: none;
    color: inherit;
}

#sales-bucket .card {
    border-radius: 8px;
}

#sales-bucket .card:hover {
    background-color: rgba(252, 252, 252, 0.849);
    border-color: rgb(204, 231, 255);
}

.blur {
    filter: blur(0.2rem);
}
