@import 'bootstrap/scss/bootstrap.scss';

#dropdown-right.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.sub > summary {
  cursor: pointer;
  list-style: none;
}

.sub > summary:hover {
  background-color: cadetblue;
}
